.Cart {
    background-color: rgb(249, 249, 249);
    height: 100vh;
}

.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.cart-container .cart-items {
    display: grid;
    gap: 20px;
}

.cart-container .cart-item {
    border: 1px solid #ddd;
    background-color: rgb(34, 97, 193);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.cart-container .cart-item:hover {
    transform: translateY(3px);
}

.cart-container .item-details {
    flex-grow: 1;
}

.cart-container .game-name {
    font-size: 1.2em;
    font-weight: bold;
    color: aliceblue;
}

.cart-container .quantity {
    color: aliceblue;
}

.cart-container .empty-cart {
    text-align: center;
    font-size: 1.2em;
    color: #777;
}

.cart-container .clear-cart-container {
    display: flex;
    justify-content: end;
}

.cart-container .clear-cart {
    text-align: right;
    font-weight: 500;
    font-size: 16px;
    color: red;
    cursor: pointer;
    width: fit-content;
}

.cart-container .bin-icon {
    padding-right: 3px;
    transform: translateY(-2px);
}