.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: black; /* Set the background color of the navbar to black */
    color: white; /* Set the text color to white */
}

.nav .flex-div {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.nav .link {
    font-size: 30px;
}

.nav .home-link {
    text-decoration: none;
    padding-left: 20px;
    color: white; /* Set the text color to white */
}

.nav .home-link:hover {
    opacity: 0.7;
}

.nav .btn {
    background-color: brown;
    color: aliceblue;
    cursor: pointer;
    padding: 5px 20px;
    padding-bottom: 10px;
    margin-top: 5px;
}

.nav .btn:hover {
    color: aliceblue;
    background-color: rgb(99, 27, 27);
}

@media only screen and (max-width: 786px) {
    .nav .btn {
        padding: 3px 7px;
    }
}
